/*

    The following CSS codes are created by the YellowPencil plugin.
    https://yellowpencil.waspthemes.com/


    T A B L E   O F   C O N T E N T S
    ........................................................................

    01. Global Styles
    02. "Test sp" Product
    03. "TIN TỨC" Page

*/



/*-----------------------------------------------*/
/*  Global Styles                                */
/*-----------------------------------------------*/
body .form-flat .woocommerce-ordering select{
	display:none;
}

@media (max-width:814px){

	body .page-title .form-flat{
	display:none;
	}

}



@media (max-width:740px){

	body .page-title .form-flat{
	display:none;
	}

}



@media (max-width:680px){

	body .page-title .form-flat{
	display:none;
	}

}



/*-----------------------------------------------*/
/*  "Test sp" Product                            */
/*-----------------------------------------------*/
body.postid-35 .custom-product-page .product-title-container{
	min-height:0px;
	-webkit-transform:translatex(0px) translatey(0px);	-ms-transform:translatex(0px) translatey(0px);	transform:translatex(0px) translatey(0px);
	max-width:1250px;
	min-width:1250px;
	max-height:45px;
}



/*-----------------------------------------------*/
/*  "TIN TỨC" Page                             */
/*-----------------------------------------------*/
body.blog #logo a .header-logo-dark{
	-webkit-transform:translatex(0px) translatey(0px);	-ms-transform:translatex(0px) translatey(0px);	transform:translatex(0px) translatey(0px);
}

body.blog #masthead .medium-logo-center{
	-webkit-transform:translatex(0px) translatey(0px);	-ms-transform:translatex(0px) translatey(0px);	transform:translatex(0px) translatey(0px);
	padding-left:10px !important;
	padding-right:20px !important;
}

@media (min-width:1280px){

	body.blog #masthead .medium-logo-center{
	padding-left:71px;
	padding-right:82px;
	}

}